# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

#ignore env
.env

#ignore qdrant
raft_state.json
collections
aliases
.deleted

#ignore chainlit
.chainlit
__pycache__
.files
chainlit.md

#ignore pdfs
*.pdf